<!---->
<section class="login">
  <div class="container">
    <div class="row">
      <!---->
      <div class="col-md-12 col-sm-12">
        <div class="loginDesc">
          <div class="loginDescInner">
            <label>Welcome to</label>
            <h1>BEC <span>Engineering</span></h1>
            <p style="font-weight: 700;">Please Contact admin if you lost/forgot your login credentials.</p>
          </div>

        </div>
      </div>
      <!---->
    </div>
  </div>

</section>